# Day 1

O seu primeiro passo é unificar em um único Dataframe todos os dados pertinentes para a análise.

Comece pelos empréstimos e você terá os dados das transações. Depois, mescle com os dados do acervo, para que você possa entender, por exemplo, de qual biblioteca era o material emprestado ou a qual tema ele se referia. Elas se relacionam pela coluna de código de barras de cada material.

Lembre-se que é muito comum receber dados nulos ou duplicados, por isso não deixe de fazer a limpeza.

## Importar bibliotecas

In [1]:
import pandas as pd

## Input do git hub

In [2]:
url_emprestimo = "https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/tree/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/"

In [3]:
# lendo a tabela que está os arquivos csv de emprestimo para listar todos eles

In [4]:
arquivos = [arq for arq in pd.read_html(url_emprestimo)[0]['Name'].unique() if "emprestimo" in arq]
arquivos

['emprestimos-20101.csv',
 'emprestimos-20102.csv',
 'emprestimos-20111.csv',
 'emprestimos-20112.csv',
 'emprestimos-20121.csv',
 'emprestimos-20122.csv',
 'emprestimos-20131.csv',
 'emprestimos-20132.csv',
 'emprestimos-20141.csv',
 'emprestimos-20142.csv',
 'emprestimos-20151.csv',
 'emprestimos-20152.csv',
 'emprestimos-20161.csv',
 'emprestimos-20162.csv',
 'emprestimos-20171.csv',
 'emprestimos-20172.csv',
 'emprestimos-20181.csv',
 'emprestimos-20182.csv',
 'emprestimos-20191.csv',
 'emprestimos-20192.csv',
 'emprestimos-20201.csv']

In [5]:
url_raw = "https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/"

In [6]:
for p, arq in enumerate(arquivos):
    if p==0:
        df=pd.read_csv(url_raw+arq)
    else:
        df = pd.concat([df,pd.read_csv(url_raw+arq)])
df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

## Input do arquivo Parquet

para importar o arquivo dados_exemplares.parquet foi necessário instalar as dependência pyarrow e fastparquet

In [7]:
#pip install pyarrow

In [8]:
#pip install fastparquet

In [9]:
df_exemplares = pd.read_parquet("https://github.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/raw/main/Dia_1-Importando_dados/Datasets/dados_exemplares.parquet")
df_exemplares

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
...,...,...,...,...,...,...,...
568580,1353472,2021011150,Acervo Circulante,Biblioteca Setorial do Núcleo de Educação da I...,REGULAR,951,268231
568581,1353473,2019013454,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,997,268233
568582,1353474,2019012811,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,987,268234
568583,1353475,2019013451,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,764,268235
568584,1353476,2019012276,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,962,268236

## Verificando e eliminando duplicados

In [10]:
df.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO        7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO        3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO    2
2461099        2012008348     2016/06/27 20:35:46.855000000  2016/06/14 11:20:33.254000000  2016/07/11 14:37:29.000000000  2.015022e+09        ALUNO DE GRADUAÇÃO        2
                                                                                                                                                                        ..
1443389        2011018954     2013/03/22 13:18:55.037000000  2013/03/07 11:21:26.480000000  2013/04/08 20:26:07.000000000  2.010046e+09        ALUNO DE GRADUAÇÃO        1
1443390        2009056314     2013/03/21 09:28:45.689000000  2013/03/07 11:21:28.899000000  2013/04/05 18:18:00.000000000  2.011015e+09        ALUNO DE GRADUAÇÃO        1
1443393        2012037906     2013/03/20 20:17:10.574000000  2013/03/07 11:24:19.326000000  2013/03/25 08:58:44.000000000  2.011038e+09        ALUNO DE GRADUAÇÃO        1
1443395        2011033069     2013/04/07 01:06:51.679000000  2013/03/07 11:25:22.661000000  2013/05/07 16:19:34.000000000  2.011106e+09        ALUNO DE PÓS-GRADUAÇÃO    1
10322328       2014070441     2018/01/15 12:26:00.697000000  2017/12/29 18:21:09.060000000  2018/01/31 18:50:25.000000000  2.014063e+09        ALUNO DE GRADUAÇÃO        1
Length: 968028, dtype: int64

In [11]:
# eliminando
df.drop_duplicates('id_emprestimo',inplace=True)
df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
...,...,...,...,...,...,...,...
26556,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26557,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26558,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO
26559,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO
26560,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO

## Eliminando valores nulos

In [12]:
df.dropna(inplace=True)

# Mesclando tabelas

In [13]:
df=df.merge(df_exemplares,on='codigo_barras')

In [14]:
df

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
1,749227,2006017618,2010/04/19 17:35:25.987000000,2010/04/05 11:25:57.627000000,2010/04/27 11:37:02.530000000,2.011105e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
2,1175444,2006017618,2012/03/11 17:05:30.982000000,2012/02/24 16:18:40.959000000,2012/03/28 14:32:13.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,1209694,2006017618,2012/04/11 12:34:59.458000000,2012/03/28 14:33:04.249000000,2012/04/25 11:48:28.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
4,1374962,2006017618,2012/12/12 07:40:40.406000000,2012/11/14 12:41:25.081000000,2013/01/15 17:10:17.000000000,2.011104e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
906407,2988812,2016019436,2020/04/26 11:43:40.062000000,2020/03/17 16:20:01.992000000,2021/06/09 12:33:39.000000000,2.016103e+10,ALUNO DE PÓS-GRADUAÇÃO,1235460,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,511,233523
906408,2988874,2010080699,2021/08/10 02:30:14.871000000,2020/03/17 17:07:40.834000000,2022/02/17 11:48:53.000000000,2.017015e+10,ALUNO DE GRADUAÇÃO,826353,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,660,134891
906409,2988922,2018031109,2020/03/29 10:17:16.672000000,2020/03/17 17:45:40.794000000,2021/03/25 10:22:11.000000000,2.018013e+10,ALUNO DE GRADUAÇÃO,1342486,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,717,264237
906410,2988968,2016033194,2020/04/06 18:21:57.168000000,2020/03/17 18:33:29.752000000,2021/06/15 16:52:35.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO,1310816,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,785,253484
906411,2989007,2014069838,2020/03/23 10:42:38.432000000,2020/03/17 19:29:17.897000000,2022/01/20 17:26:19.000000000,2.019005e+10,ALUNO DE GRADUAÇÃO,1317032,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,626,168065

# Dia 2

> inserir coluna classe geral da CDU
- 000 a 099: Generalidades. Ciência e conhecimento.
- 100 a 199: Filosofia e psicologia.
- 200 a 299: Religião.
- 300 a 399: Ciências sociais.
- 400 a 499: Classe vaga. Provisoriamente não ocupada.
- 500 a 599: Matemática e ciências naturais.
- 600 a 699: Ciências aplicadas.
- 700 a 799: Belas artes.
- 800 a 899: Linguagem. Língua. Linguística.
- 900 a 999: Geografia. Biografia. História."

> excluir coluna registro_sistema

> transforma "matricula_ou_siape" em string

In [15]:
def classe_CDU(loc):
    if loc in [n for n in range(0,100)]:
        return "Generalidades. Ciência e conhecimento"
    elif loc in [n for n in range(100,200)]:
        return "Filosofia e psicologia"
    elif loc in [n for n in range(200,300)]:
        return "Religião"
    elif loc in [n for n in range(300,400)]:
        return "Ciências sociais"
    elif loc in [n for n in range(400,500)]:
        return "Classe vaga. Provisoriamente não ocupada"
    elif loc in [n for n in range(500,600)]:
        return "Matemática e ciências naturais"
    elif loc in [n for n in range(600,700)]:
        return "Ciências aplicadas"
    elif loc in [n for n in range(700,800)]:
        return "Belas artes"
    elif loc in [n for n in range(800,900)]:
        return "Linguagem. Língua. Linguística"
    elif loc in [n for n in range(900,1000)]:
        return "Geografia. Biografia. História"

In [16]:
df['classe_CDU'] = df['localizacao'].apply(classe_CDU)

In [17]:
df.sample(5)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema,classe_CDU
641730,2905209,2013070412,2019/09/03 05:50:33.699000000,2019/08/20 14:08:07.283000000,2019/10/14 14:52:30.000000000,2.019011e+10,ALUNO DE GRADUAÇÃO,1074787,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,646,166321,Ciências aplicadas
229539,1640101,2010043127,2013/12/03 08:59:20.910000000,2013/11/18 09:15:42.145000000,2013/12/06 17:17:46.000000000,2.012039e+09,ALUNO DE GRADUAÇÃO,796402,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,645,132237,Ciências aplicadas
428090,1982606,2008010638,2015/05/27 09:55:18.714000000,2015/04/28 21:44:11.841000000,2015/06/22 14:40:28.000000000,2.014209e+09,ALUNO DE PÓS-GRADUAÇÃO,240099,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,676,99663,Ciências aplicadas
441627,9494344,2011048364,2017/03/08 09:55:33.732000000,2017/02/22 08:47:09.451000000,2017/03/20 18:56:00.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO,938488,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,652,169105,Ciências aplicadas
621173,9422196,2013006446,2017/03/01 04:19:08.111000000,2017/01/26 12:51:40.887000000,2017/03/20 12:26:59.000000000,2.241425e+06,DOCENTE,1044926,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,371,173903,Ciências sociais

In [18]:
df.groupby('classe_CDU').count()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
classe_CDU,,,,,,,,,,,,,
Belas artes,2851,2851,2851,2851,2851,2851,2851,2851,2851,2851,2851,2851,2851
Ciências aplicadas,637019,637019,637019,637019,637019,637019,637019,637019,637019,637019,637019,637019,637019
Ciências sociais,157749,157749,157749,157749,157749,157749,157749,157749,157749,157749,157749,157749,157749
Filosofia e psicologia,24568,24568,24568,24568,24568,24568,24568,24568,24568,24568,24568,24568,24568
Generalidades. Ciência e conhecimento,25658,25658,25658,25658,25658,25658,25658,25658,25658,25658,25658,25658,25658
Geografia. Biografia. História,2986,2986,2986,2986,2986,2986,2986,2986,2986,2986,2986,2986,2986
Linguagem. Língua. Linguística,2818,2818,2818,2818,2818,2818,2818,2818,2818,2818,2818,2818,2818
Matemática e ciências naturais,27411,27411,27411,27411,27411,27411,27411,27411,27411,27411,27411,27411,27411
Religião,25352,25352,25352,25352,25352,25352,25352,25352,25352,25352,25352,25352,25352

In [19]:
df.drop("registro_sistema",axis=1)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,classe_CDU
0,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
1,749227,2006017618,2010/04/19 17:35:25.987000000,2010/04/05 11:25:57.627000000,2010/04/27 11:37:02.530000000,2.011105e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
2,1175444,2006017618,2012/03/11 17:05:30.982000000,2012/02/24 16:18:40.959000000,2012/03/28 14:32:13.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
3,1209694,2006017618,2012/04/11 12:34:59.458000000,2012/03/28 14:33:04.249000000,2012/04/25 11:48:28.000000000,2.010057e+09,ALUNO DE GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
4,1374962,2006017618,2012/12/12 07:40:40.406000000,2012/11/14 12:41:25.081000000,2013/01/15 17:10:17.000000000,2.011104e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,Ciências aplicadas
...,...,...,...,...,...,...,...,...,...,...,...,...,...
906407,2988812,2016019436,2020/04/26 11:43:40.062000000,2020/03/17 16:20:01.992000000,2021/06/09 12:33:39.000000000,2.016103e+10,ALUNO DE PÓS-GRADUAÇÃO,1235460,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,511,Matemática e ciências naturais
906408,2988874,2010080699,2021/08/10 02:30:14.871000000,2020/03/17 17:07:40.834000000,2022/02/17 11:48:53.000000000,2.017015e+10,ALUNO DE GRADUAÇÃO,826353,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,660,Ciências aplicadas
906409,2988922,2018031109,2020/03/29 10:17:16.672000000,2020/03/17 17:45:40.794000000,2021/03/25 10:22:11.000000000,2.018013e+10,ALUNO DE GRADUAÇÃO,1342486,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,717,Belas artes
906410,2988968,2016033194,2020/04/06 18:21:57.168000000,2020/03/17 18:33:29.752000000,2021/06/15 16:52:35.000000000,2.016014e+10,ALUNO DE GRADUAÇÃO,1310816,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,785,Belas artes
906411,2989007,2014069838,2020/03/23 10:42:38.432000000,2020/03/17 19:29:17.897000000,2022/01/20 17:26:19.000000000,2.019005e+10,ALUNO DE GRADUAÇÃO,1317032,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,626,Ciências aplicadas

In [20]:
#converti em inteiro primeiro e depois em string, pois estava vindo o .0 no final, quando convertia direto de float para string
df['matricula_ou_siape']=df['matricula_ou_siape'].astype(int)
df['matricula_ou_siape']=df['matricula_ou_siape'].astype(str)

c:\Users\maria.prado\Anaconda3\lib\site-packages\pandas\core\dtypes\cast.py:1196: RuntimeWarning: invalid value encountered in cast
  return values.astype(dtype, copy=copy)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 906412 entries, 0 to 906411
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id_emprestimo         906412 non-null  int64
 1   codigo_barras         906412 non-null  object
 2   data_renovacao        906412 non-null  object
 3   data_emprestimo       906412 non-null  object
 4   data_devolucao        906412 non-null  object
 5   matricula_ou_siape    906412 non-null  int32
 6   tipo_vinculo_usuario  906412 non-null  object
 7   id_exemplar           906412 non-null  int64
 8   colecao               906412 non-null  object
 9   biblioteca            906412 non-null  object
 10  status_material       906412 non-null  object
 11  localizacao           906412 non-null  int64
 12  registro_sistema      906412 non-null  int64
 13  classe_CDU            906412 non-null  object
dtypes: int32(1), int64(4), object(9)
memory usage: 100.3+ MB

# Dia 3